@page "/investment/assets"
@page "/investment/assets/{userId}"
@attribute [Authorize(Policy = Permissions.Assets.View)]
@using Dreamrosia.Koin.Client.Shared.Components

<PageMenuTitle Menus="@(new []
{
    $"{_localizer["Investments"]}",
    $"{_localizer["Assets"]}",
})" UserId="@UserId" />

@if (!_loaded)
{
    <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
}
else
{
    <MudPaper Elevation="25" Class="d-flex justify-space-between align-center pa-2">

        <MudButton DisableElevation
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.PhotoCamera"
                   IconColor="MudBlazor.Color.Surface"
                   Color="MudBlazor.Color.Primary"
                   @bind-Disabled="@_isProcessing"
                   OnClick="ScreenshotAsync">
            @_localizer["Screenshot"]
        </MudButton>
        <MudSpacer/>
        <MudButton DisableElevation
                   Variant="Variant.Filled"
                   StartIcon="@Icons.Material.Filled.Refresh"
                   IconColor="MudBlazor.Color.Surface"
                   Color="MudBlazor.Color.Primary"
                   @bind-Disabled="@_isProcessing"
                   OnClick="GetAssetsAsync">
            @_localizer["Reload"]
        </MudButton>
    </MudPaper>

    <MudProgressLinear Indeterminate="true" Color="MudBlazor.Color.Warning" Style="@_progressBarDisplay" />

    <div id="Assets">
        <MudTabs Elevation="25"
                 Color="MudBlazor.Color.Transparent"
                 Rounded="true"
                 @bind-ActivePanelIndex="@_activePanelIndex"
                 PanelClass="mt-1">

            <MudTabPanel Text="@_localizer["Asset.Report"]">
                <CascadingValue Value="@_report" Name="Report">
                    <CascadingValue Value="@_viewHelp" Name="ViewHelp">
                        <AssetReport IsReal="true" />
                    </CascadingValue>
                </CascadingValue>
            </MudTabPanel>

            <MudTabPanel Text="@_localizer["Assets"]">
                <CascadingValue Value="@_report.Assets" Name="Assets">
                    <AssetTable IsReal="true" />
                </CascadingValue>
            </MudTabPanel>

            <MudTabPanel Text="@_localizer["Chart"]">
                <CascadingValue Value="@_report.Assets" Name="Assets">
                    <AssetChart IsReal="true"
                                SignUpDate="@_signUpDate" />
                </CascadingValue>
            </MudTabPanel>
        </MudTabs>
    </div>
}