@page "/terminal/bots"
@attribute [Authorize(Policy = Permissions.MiningBots.View)]

@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Client.Shared.Components

<PageMenuTitle Menus="@(new []
{
    $"{_localizer["Administrator"]}",
    $"{_localizer["Manage MiningBots"]}",
})" />

@if (!_loaded)
{
    <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
}
else
{
    <div id="@_divTableId">
        <MudTable Items="_items"
                  Elevation="25"
                  Hover="true" Dense="true" Bordered="true" Striped="true"
                  FixedHeader="true" FixedFooter="true"
                  RowsPerPage="@TablePager.DefaultPageSize"
                  Filter="new Func<MiningBotTicketDto, bool>(Search)"
                  Height="@_divTableHeight">
            <ToolBarContent>
                <div class="d-flex" style="width:100%">
                    <FullSpacer />
                    <MudCheckBox T="bool?" TriState="true"
                             Label="@_localizer["User.IsAssignedBotTicket"]"
                             Checked="@_chkIsAssignedBotTicket"
                             CheckedChanged="@((value) => CheckAssignedBotTicketChanged(value))"
                             Color="MudBlazor.Color.Primary"
                             Class="auto-min-width align-self-end ml-4 mb-n2" />

                    <MudTextField @bind-Value="@_searchString"
                                  Immediate="false"
                                  FullWidth=false
                                  Placeholder="@_localizer["Search"]"
                                  Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                                  Class="search-box ml-4" />
                </div>
            </ToolBarContent>
            <HeaderContent>
                <MudTh> @_localizer["MiningBot.Ticket"] </MudTh>
                <MudTh> @_localizer["MiningBot.Id"] </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<MiningBotTicketDto, object>(x => x.MiningBot?.Version)">@_localizer["MiningBot.Version"]</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<MiningBotTicketDto, object>(x => x.MiningBot?.MachineName)">@_localizer["MiningBot.MachineName"]</MudTableSortLabel>
                </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<MiningBotTicketDto, object>(x => x.MiningBot?.CurrentDirectory)">@_localizer["MiningBot.CurrentDirectory"]</MudTableSortLabel>
                </MudTh>
                <MudTh> @_localizer["Users"] </MudTh>
                <MudTh> @_localizer["MiningBot.Touched"] </MudTh>
                <MudTh>
                    <MudTableSortLabel SortBy="new Func<MiningBotTicketDto, object>(x => x.MiningBot?.Elapsed)">@_localizer["MiningBot.Elapsed"]</MudTableSortLabel>
                </MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel=@_localizer["MiningBot.Ticket"] Style="text-align:center">
                    <MudHighlighter Text="@context.Id" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.Id"] Style="text-align:center">
                    <MudHighlighter Text="@context.MiningBot?.Id" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.Version"] Style="text-align:center">
                    <MudHighlighter Text="@context.MiningBot?.Version" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.MachineName"]>
                    <MudHighlighter Text="@context.MiningBot?.MachineName" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.CurrentDirectory"]>
                    <MudTooltip Text="@context.MiningBot?.CurrentDirectory">
                        <MudHighlighter Text="@context.MiningBot?.LastDirectory" HighlightedText="@_searchString" />
                    </MudTooltip>
                </MudTd>
                <MudTd DataLabel=@_localizer["Users"]>
                    <div class="d-flex justify-start align-center pl-1">
                        @if (!string.IsNullOrEmpty(context.User?.NickName))
                        { 
                            <UserAvatar Image="@context.User?.ProfileImage" />
                            <MudHighlighter Text="@context.User?.NickName" HighlightedText="@_searchString" />
                        }
                    </div>
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.Touched"] Style="text-align:center">
                    @($"{context.MiningBot?.Touched:t}")
                </MudTd>
                <MudTd DataLabel=@_localizer["MiningBot.Elapsed"] Style="text-align:center">
                    @($"{context.MiningBot?.Elapsed:dd\\,hh\\:mm\\:ss}")
                </MudTd>
            </RowTemplate>
            <PagerContent>
                <TablePager />
            </PagerContent>
        </MudTable>
    </div>
}