@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Application.Extensions

<style>
    .brush-chart {
        position: relative;
        top: -20px;
    }
</style>

@if (!_loaded)
{
    <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
}
else
{
    <MudPaper Elevation="25" Class="flex-x-scroll-container pa-2 mb-1">
        <FullSpacer />
        <MudSelect T="TimeFrames"
               Label="@_localizer["TimeFrames"]"
               Dense="true"
               Margin="Margin.None"
               FullWidth="false"
               Style="max-width:112px;min-width:112px;"
               Class="ml-2 mr-2"
               MultiSelection="false"
               @bind-Value="@_selectedTimeFrame"
               SelectedValuesChanged="@((value)=> TimeFrameSelectionChanged(value))">

            <MudSelectItem T="TimeFrames" Value="TimeFrames.Week">@TimeFrames.Week.ToDescriptionString()</MudSelectItem>
            <MudSelectItem T="TimeFrames" Value="TimeFrames.Month">@TimeFrames.Month.ToDescriptionString()</MudSelectItem>
        </MudSelect>

        <MudSelect T="string"
               Label="@_localizer["Chart"]"
               Dense="true"
               Margin="Margin.None"
               FullWidth="false"
               Style="max-width:256px;min-width:256px;"
               MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSeriesSelectionText))"
               SelectAll="true" SelectAllText="@_localizer["All"]"
               @bind-Value="@_selectedSeries"
               SelectedValues="@_selectedSerieses"
               SelectedValuesChanged="@((values)=> SeriesSelectionChanged(values))"
               Class="ml-2">

            @foreach (var name in _seriseNames)
            {
                <MudSelectItem T="string" Value="@name">@name</MudSelectItem>
            }
        </MudSelect>
    </MudPaper>

    <MudPaper Elevation="25" Class="mb-2">
        <div id="@_divChartId" style="height:@_divChartHeight">
            <div style="height:@_assetChartHeight">
                <ApexChart TItem="AssetExtensionDto"
                       XAxisType="XAxisType.Category"
                       @ref="@_refAssetChart"
                       Options="@_assetOptions"
                       Height="@("100%")">

                    <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.DssAmt"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.DssAmt))"
                                 OrderBy="@(e=> e.X)" />

                    @if (_selectedSerieses.Contains(_localizer["Asset.BalEvalAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.BalEvalAmt"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.BalEvalAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.Deposit"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.Deposit"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.Deposit))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.InvsAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.InvsAmt"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.InvsAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.InvsPnL"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.InvsPnL"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.InvsPnL))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.InvsPnLRat"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.InvsPnLRat"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.InvsPnLRat))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.MDDInvsPnL"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.MDDInvsPnL"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.MDDInvsPnL))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.MDDInvsPnLRat"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.MDDInvsPnLRat"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.MDDInvsPnLRat))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.InAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.InAmt"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.InAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.OutAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.OutAmt"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.OutAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.BorrowedAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.BorrowedAmt"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.BorrowedAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.BidAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.BidAmt"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.BidAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.AskAmt"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.AskAmt"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.AskAmt))"
                                 OrderBy="@(e=> e.X)" />
                    }

                    @if (_selectedSerieses.Contains(_localizer["Asset.PnL"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.PnL"]"
                                 SeriesType="@SeriesType.Bar"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.PnL))"
                                 OrderBy="@(e=> e.X)" />
                    }
                    @if (_selectedSerieses.Contains(_localizer["Market.Index.UBMI"]))
                    {
                        <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Market.Index.UBMI"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.index))"
                                 OrderBy="@(e=> e.X)" />
                    }
                </ApexChart>
            </div>
            <div style="height:150px;" class="brush-chart">
                <ApexChart TItem="AssetExtensionDto"
                       XAxisType="XAxisType.Category"
                       @ref="@_refRangeChart"
                       Options="@_rangeOptions"
                       Height="@("100%")">

                    <ApexPointSeries TItem="AssetExtensionDto"
                                 Items="@_items"
                                 Name="@_localizer["Asset.DssAmt"]"
                                 SeriesType="@SeriesType.Line"
                                 XValue="@(e => e.created_at.Date)"
                                 YValue="@(e=> Convert.ToDecimal(e.DssAmt))"
                                 OrderBy="@(e=> e.X)" />
                </ApexChart>
            </div>
        </div>
    </MudPaper>
}
