@namespace Dreamrosia.Koin.Client.Shared.Components

@using Dreamrosia.Koin.Application.Extensions
@using Dreamrosia.Koin.Domain.Enums
@using System.ComponentModel
@using Dreamrosia.Koin.Shared.Wrapper

<div class="d-flex align-center">
    <MudDatePicker @bind-Date="@DateRange.Start"
                   Label="@_localizer["DateRange.Start"]"
                   PickerVariant="PickerVariant.Dialog"
                   DateFormat="d"
                   TitleDateFormat="MM-dd(ddd)"
                   AutoClose="false"
                   Class="mud-date-picker" />

    <MudText Align="MudBlazor.Align.Center" 
             Class="ml-4 mr-4 pt-5">
        @("~")
    </MudText>

    <MudDatePicker @bind-Date="@DateRange.End"
                   PickerVariant="PickerVariant.Dialog"
                   Label="@_localizer["DateRange.End"]"
                   DateFormat="d"
                   TitleDateFormat="MMM-dd(ddd)"
                   AutoClose="false"
                   Class="mud-date-picker"/>

    <MudSelect T="DateRangeTerms"
               @bind-Value="@SelectedTerm"
               SelectedValuesChanged="SelectedTermsValueChanged"
               Label="@_localizer["TimeTerms"]"
               Dense="true"
               Margin="Margin.None"
               FullWidth="false"
               MultiSelection="false"
               Class="mud-select-1 ml-4" >

        @foreach (var term in (DateRangeTerms[])Enum.GetValues(typeof(DateRangeTerms)))
        {
            <MudSelectItem T="DateRangeTerms" Value="@term">@(term.ToDescriptionString())</MudSelectItem>
        }
    </MudSelect>
</div>
