@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Application.Extensions
@using Dreamrosia.Koin.Domain.Enums;
@using Dreamrosia.Koin.Shared.Enums;

<style>
    .mud-toolbar {
        height: auto;
    }
</style>

<div id="@_divTableId">
    <MudTable T="FollowerDto"
              Items="@_items"
              Elevation="25"
              Hover="true" Dense="true" Bordered="true" Striped="true"
              FixedHeader="true" FixedFooter="true"
              RowsPerPage="@TablePager.DefaultPageSize"
              Filter="new Func<FollowerDto, bool>(Search)"
              Height="@_divTableHeight">
        <ToolBarContent>
            <div class="flex-x-scroll-container pa-2" style="width:100%">
                <FullSpacer />
                <MudSelect T="string"
                           Label="@_localizer["Membership.Level"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedMembership"
                           SelectedValues="@_selectedMemberships"
                           SelectedValuesChanged="@((values) => MembershipSelectionChanged(values))"
                           Class="mud-multi-select-1">

                    @foreach (var membership in (MembershipLevel[])Enum.GetValues(typeof(MembershipLevel)))
                    {
                        <MudSelectItem T="string" Value="@(membership.ToDescriptionString())">@(membership.ToDescriptionString())</MudSelectItem>
                    }
                </MudSelect>

                @if (Mode == TableMode.Follower)
                {
                    <MudCheckBox T="bool?" TriState="true"
                             Label="@_localizer["Trading.AutoTrading"]"
                             Checked="@_chkIsAutoTrading"
                             CheckedChanged="@((value) => CheckAutoTradingChanged(value))"
                             Color="MudBlazor.Color.Primary"
                             Class="auto-min-width align-self-end ml-4 mb-n2" />
                }
                <MudSelect T="string"
                           Label="@_localizer["TimeFrames"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedTimeFrame"
                           SelectedValues="@_selectedTimeFrames"
                           SelectedValuesChanged="@((values) => TimeFrameSelectionChanged(values))"
                           Class="mud-multi-select-1 ml-4">

                    <MudSelectItem T="string" Value="@(TimeFrames.Day.ToDescriptionString())">@(TimeFrames.Day.ToDescriptionString())</MudSelectItem>
                    <MudSelectItem T="string" Value="@(TimeFrames.Week.ToDescriptionString())">@(TimeFrames.Week.ToDescriptionString())</MudSelectItem>
                </MudSelect>

                @if (Mode == TableMode.Follower)
                {
                    <MudCheckBox T="bool?" TriState="true"
                             Label="@_localizer["User.IsAssignedBot"]"
                             Checked="@_chkIsAssignedBot"
                             CheckedChanged="@((value) => CheckAssignedBotChanged(value))"
                             Color="MudBlazor.Color.Primary"
                             Class="auto-min-width align-self-end ml-4 mb-n2" />
                }
                <MudTextField @bind-Value="@_searchString"
                              Immediate="false"
                              FullWidth=false
                              Placeholder="@_localizer["Search"]"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                              Class="ml-4 search-box" />
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh> @_localizer["Subscription.UserCode"] </MudTh>
            <MudTh> @_localizer["User.NickName"] </MudTh>
            @if (Mode == TableMode.Follower)
            {
                <MudTh> @_localizer["User.Email"] </MudTh>
                <MudTh> @_localizer["User.PhoneNumber"] </MudTh>
            }
            <MudTh> @_localizer["User.SignupDate"] </MudTh>
            <MudTh> @_localizer["Membership.Level"] </MudTh>
            @if (Mode == TableMode.Follower)
            {
                <MudTh> @_localizer["Trading.AutoTrading"] </MudTh>
            }
            <MudTh> @_localizer["TimeFrames"] </MudTh>
            @if (Mode == TableMode.Follower)
            {
                <MudTh> @_localizer["User.IsAssignedBot"] </MudTh>
            }
            <MudTh>@_localizer["Assets"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@_localizer["Subscription.UserCode"] Style="text-align:center">
                <MudHighlighter Text="@context.UserCode" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel=@_localizer["User.NickName"]>
                <div class="d-flex justify-start align-center pl-1">
                    <UserAvatar Image="@context.ProfileImage" />
                    <MudHighlighter Text="@context.NickName" HighlightedText="@_searchString" />
                </div>
            </MudTd>
            @if (Mode == TableMode.Follower)
            {
                <MudTd DataLabel=@_localizer["User.Email"]>
                    <MudHighlighter Text="@context.Email" HighlightedText="@_searchString" />
                </MudTd>
                <MudTd DataLabel=@_localizer["User.PhoneNumber"]>
                    <MudHighlighter Text="@context.PhoneNumber" HighlightedText="@_searchString" />
                </MudTd>
            }
            <MudTd DataLabel=@_localizer["User.SignupDate"] Style="text-align:center">
                @($"{context.CreatedOn:d}")
            </MudTd>

            <MudTd DataLabel=@_localizer["Membership.Level"] Style="text-align:center">
                @{
                    var level = context.MembershipLevel;

                    if (level == MembershipLevel.Free)
                    {
                        <MudText Class="winter"> @(level.ToDescriptionString()) </MudText>
                    }
                    else if (level == MembershipLevel.Basic)
                    {
                        <MudText Class="spring"> @(level.ToDescriptionString()) </MudText>
                    }
                    else if (level == MembershipLevel.Advanced)
                    {
                        <MudText Class="summer"> @(level.ToDescriptionString()) </MudText>
                    }
                }
            </MudTd>
            @if (Mode == TableMode.Follower)
            {
                <MudTd DataLabel=@_localizer["Trading.AutoTrading"] Style="text-align:center">
                    @if (context.AutoTrading)
                    {
                        <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                    }
                </MudTd>
            }
            <MudTd DataLabel=@_localizer["TimeFrames"] Style="text-align:center">
                @(context.TimeFrame.ToDescriptionString())
            </MudTd>
            @if (Mode == TableMode.Follower)
            {
                <MudTd DataLabel=@_localizer["User.IsAssignedBot"] Style="text-align:center">
                    @if (context.IsAssignedBot)
                    {
                        <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                    }
                </MudTd>
            }

            <MudTd DataLabel=@_localizer["Assets"] Style="text-align:center">
                <MudButton DisableElevation
                           OnClick="(() => NavigateToAssets(context.UserCode))"
                           Variant="Variant.Filled"
                           Color="MudBlazor.Color.Info"
                           Size="Size.Small">
                    @_localizer["Shortcut"]
                </MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</div>
