@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Application.Extensions

<style>
    .mud-toolbar {
        height: auto;
    }
</style>

<div id="@_divTableId">
    <MudTable Items="@_items"
              SelectedItem="@_selectedItem"
              Elevation="25"
              Hover="true" Dense="true" Bordered="true" Striped="true"
              FixedHeader="true" FixedFooter="true"
              RowsPerPage="@TablePager.DefaultPageSize"
              Filter="new Func<PointDto, bool>(Search)"
              Height="@_divTableHeight">
        <ToolBarContent>
            <div class="flex-x-scroll-container pa-2" style="width:100%">
                <FullSpacer />
                <MudSelect T="string"
                           Label="@_localizer["Point.PointType"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetPointTypeSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedPointType"
                           SelectedValues="@_selectedPointTypes"
                           SelectedValuesChanged="@((values)=> PointTypeSelectionChanged(values))"
                           Class="mud-multi-select-1">
                    <MudSelectItem T="string" Value="@(PointType.Charging.ToDescriptionString())">@(PointType.Charging.ToDescriptionString())</MudSelectItem>
                    <MudSelectItem T="string" Value="@(PointType.Redeem.ToDescriptionString())">@(PointType.Redeem.ToDescriptionString())</MudSelectItem>
                    <MudSelectItem T="string" Value="@(PointType.Refund.ToDescriptionString())">@(PointType.Coupon.ToDescriptionString())</MudSelectItem>
                    <MudSelectItem T="string" Value="@(PointType.Refund.ToDescriptionString())">@(PointType.Refund.ToDescriptionString())</MudSelectItem>
                </MudSelect>
                <MudTextField @bind-Value="@_searchString"
                              Immediate="false"
                              FullWidth="false"
                              Placeholder="@_localizer["Search"]"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                              Class="ml-4 search-box" />
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh> @_localizer["Point.done_at"] </MudTh>
            <MudTh> @_localizer["Point.PointType"] </MudTh>
            <MudTh> @_localizer["Point.Charing"] </MudTh>
            <MudTh> @_localizer["Point.Redeem"] </MudTh>
            <MudTh> @_localizer["Point.Refund"] </MudTh>
            <MudTh> @_localizer["Point.Balance"] </MudTh>
            <MudTh> @_localizer["Membership.Level"] </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@_localizer["Point.done_at"] Style="text-align:center">
                @($"{context.done_at:yyyy-MM-dd HH:mm}")
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.PointType"] Style="text-align:center">
                @($"{context.Type.ToDescriptionString()}")
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.Charging"] Style="text-align:right">
                @if (context.Charging > 0)
                {
                    @($"{context.Charging:N0}")
                }
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.Reedeem"] Style="text-align:right">
                @if (context.Reedeem > 0)
                {
                    @($"{context.Reedeem:N0}")
                }
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.Refund"] Style="text-align:right">
                @if (context.Refund > 0)
                {
                    @($"{context.Refund:N0}")
                }
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.Balance"] Style="text-align:right">
                @($"{context.Balance:N0}")
            </MudTd>
            <MudTd DataLabel=@_localizer["Membership.Level"] Style="text-align:center">
                <MudHighlighter Text="@context.Membership.ToDescriptionString()" HighlightedText="@_searchString" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</div>
