@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Application.Extensions

<style>
    .mud-toolbar {
        height: auto;
    }
</style>

<div id="@_divTableId">
    <MudTable Items="@_items"
              SelectedItem="@_selectedItem"
              Elevation="25"
              Hover="true" Dense="true" Bordered="true" Striped="true"
              FixedHeader="true" FixedFooter="true"
              RowsPerPage="@TablePager.DefaultPageSize"
              Filter="new Func<PointDto, bool>(Search)"
              Height="@_divTableHeight">
        <ToolBarContent>
            <div class="flex-x-scroll-container pa-2" style="width:100%">
                <FullSpacer />
                <MudSelect T="string"
                           Label="@_localizer["Point.PointType"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetPointTypeSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedPointType"
                           SelectedValues="@_selectedPointTypes"
                           SelectedValuesChanged="@((values)=> PointTypeSelectionChanged(values))"
                           Class="mud-multi-select-1">

                    @foreach (var term in (PointType[])Enum.GetValues(typeof(PointType)))
                    {
                        <MudSelectItem T="string" Value="@(term.ToDescriptionString())">@(term.ToDescriptionString())</MudSelectItem>
                    }
                </MudSelect>
                <MudTextField @bind-Value="@_searchString"
                              Immediate="false"
                              FullWidth="false"
                              Placeholder="@_localizer["Search"]"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                              Class="ml-4 search-box" />
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh> @_localizer["Point.done_at"] </MudTh>
            <MudTh> @_localizer["Point.PointType"] </MudTh>
            <MudTh> @_localizer["Point.Amount"] </MudTh>
            <MudTh> @_localizer["Point.Balance"] </MudTh>
            <MudTh> @_localizer["Membership.Level"] </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@_localizer["Point.done_at"] Style="text-align:center">
                @($"{context.done_at:yyyy-MM-dd HH:mm}")
            </MudTd>
            <MudTd DataLabel=@_localizer["Point.PointType"] Style="text-align:center">
                @($"{context.Type.ToDescriptionString()}")
            </MudTd>
            @if (context.Type == PointType.Charging || context.Type == PointType.Coupon)
            {
                <MudTd DataLabel=@_localizer["Point.Amount"] Style="text-align:right;color:orangered">
                    @if (context.Amount > 0)
                    {
                        @($"{context.Amount:N0}")
                    }
                </MudTd>
            }
            else
            {
                <MudTd DataLabel=@_localizer["Point.Amount"] Style="text-align:right;color:dodgerblue">
                    @if (context.Amount > 0)
                    {
                        @($"{context.Amount:N0}")
                    }
                </MudTd>
            }
            <MudTd DataLabel=@_localizer["Point.Balance"] Style="text-align:right">
                @($"{context.Balance:N0}")
            </MudTd>
            <MudTd DataLabel=@_localizer["Membership.Level"] Style="text-align:center">
                <MudHighlighter Text="@context.Membership.ToDescriptionString()" HighlightedText="@_searchString" />
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</div>
