@using Dreamrosia.Koin.Application.DTO
@using Dreamrosia.Koin.Application.Extensions

<style>
    .mud-toolbar {
        height: auto;
    }
</style>

<div id="@_divTableId">
    <MudTable T="UserFullInfoDto"
              @ref="_table"
              OnRowClick="RowClickEvent"
              Items="@_items"
              Elevation="25"
              Hover="true" Dense="true" Bordered="true" Striped="true"
              FixedHeader="true" FixedFooter="true"
              RowsPerPage="@TablePager.DefaultPageSize"
              Filter="new Func<UserFullInfoDto, bool>(Search)"
              Height="@_divTableHeight">
        <ToolBarContent>
            <div class="flex-x-scroll-container pa-2" style="width:100%">
                <FullSpacer />
                <MudSelect T="string"
                           Label="@_localizer["Membership.Level"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedMembership"
                           SelectedValues="@_selectedMemberships"
                           SelectedValuesChanged="@((values) => MembershipSelectionChanged(values))"
                           Class="mud-multi-select-1">

                    @foreach (var membership in (MembershipLevel[])Enum.GetValues(typeof(MembershipLevel)))
                    {
                        <MudSelectItem T="string" Value="@(membership.ToDescriptionString())">@(membership.ToDescriptionString())</MudSelectItem>
                    }
                </MudSelect>

                <MudCheckBox T="bool?" TriState="true"
                             Label="@_localizer["Trading.AutoTrading"]"
                             Checked="@_chkIsAutoTrading"
                             CheckedChanged="@((value) => CheckAutoTradingChanged(value))"
                             Color="MudBlazor.Color.Primary"
                             Class="auto-min-width align-self-end ml-4 mb-n2" />
                <MudSelect T="string"
                           Label="@_localizer["TimeFrames"]"
                           MultiSelection="true" MultiSelectionTextFunc="@(new Func<List<string>, string>(GetSelectionText))"
                           Dense="true"
                           SelectAll="true" SelectAllText="@_localizer["All"]"
                           @bind-Value="@_selectedTimeFrame"
                           SelectedValues="@_selectedTimeFrames"
                           SelectedValuesChanged="@((values) => TimeFrameSelectionChanged(values))"
                           Class="mud-multi-select-1 ml-4">

                    <MudSelectItem T="string" Value="@(TimeFrames.Day.ToDescriptionString())">@(TimeFrames.Day.ToDescriptionString())</MudSelectItem>
                    <MudSelectItem T="string" Value="@(TimeFrames.Week.ToDescriptionString())">@(TimeFrames.Week.ToDescriptionString())</MudSelectItem>
                </MudSelect>

                <MudCheckBox T="bool?" TriState="true"
                             Label="@_localizer["User.IsAssignedBot"]"
                             Checked="@_chkIsAssignedBot"
                             CheckedChanged="@((value) => CheckAssignedBotChanged(value))"
                             Color="MudBlazor.Color.Primary"
                             Class="auto-min-width align-self-end ml-4 mb-n2" />
                <MudTextField @bind-Value="@_searchString"
                              Immediate="false"
                              FullWidth=false
                              Placeholder="@_localizer["Search"]"
                              Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Small"
                              Class="ml-4 search-box" />
            </div>
        </ToolBarContent>
        <HeaderContent>
            <MudTh> @_localizer["Subscription.UserCode"] </MudTh>
            <MudTh> @_localizer["User.NickName"] </MudTh>
            <MudTh> @_localizer["User.Email"] </MudTh>
            <MudTh> @_localizer["User.PhoneNumber"] </MudTh>
            <MudTh> @_localizer["User.SignupDate"] </MudTh>
            <MudTh> @_localizer["Membership.Level"] </MudTh>
            <MudTh> @_localizer["Trading.AutoTrading"] </MudTh>
            <MudTh> @_localizer["TimeFrames"] </MudTh>
            <MudTh> @_localizer["User.IsAssignedBot"] </MudTh>
            <MudTh>@_localizer["Roles"]</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel=@_localizer["Subscription.UserCode"] Style="text-align:center">
                <MudHighlighter Text="@context.UserCode" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel=@_localizer["User.NickName"]>
                <div class="d-flex justify-start align-center pl-1">
                    <UserAvatar Image="@context.ProfileImage" />
                    <MudHighlighter Text="@context.NickName" HighlightedText="@_searchString" />
                </div>
            </MudTd>
            <MudTd DataLabel=@_localizer["User.Email"]>
                <MudHighlighter Text="@context.Email" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel=@_localizer["User.PhoneNumber"]>
                <MudHighlighter Text="@context.PhoneNumber" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel=@_localizer["User.SignupDate"] Style="text-align:center">
                @($"{context.CreatedOn:d}")
            </MudTd>

            <MudTd DataLabel=@_localizer["Membership.Level"] Style="text-align:center">
                @{
                    var level = context.Subscription.Membership.Level;

                    if (level == MembershipLevel.Free)
                    {
                        <MudText Class="winter"> @(level.ToDescriptionString()) </MudText>
                    }
                    else if (level == MembershipLevel.Basic)
                    {
                        <MudText Class="spring"> @(level.ToDescriptionString()) </MudText>
                    }
                    else if (level == MembershipLevel.Advanced)
                    {
                        <MudText Class="summer"> @(level.ToDescriptionString()) </MudText>
                    }
                }
            </MudTd>
            <MudTd DataLabel=@_localizer["Trading.AutoTrading"] Style="text-align:center">
                @if (context.TradingTerms.AutoTrading)
                {
                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                }
            </MudTd>
            <MudTd DataLabel=@_localizer["TimeFrames"] Style="text-align:center">
                @(context.TradingTerms.TimeFrame.ToDescriptionString())
            </MudTd>
            <MudTd DataLabel=@_localizer["User.IsAssignedBot"] Style="text-align:center">
                @if (context.MiningBotTicket is not null)
                {
                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                }
            </MudTd>

            <MudTd DataLabel=@_localizer["Roles"]>
                @(context.RolesDescription)
            </MudTd>
        </RowTemplate>
        <ChildRowContent>
            @if (context.ShowDetails)
            {
                <MudTr>
                    <td colspan="12">
                        <div class="flex-x-scroll-container pa-2 justify-center" style="width:100%">
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToSubscription(context.Id))">@_localizer["Subscriptions"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToUPbitKey(context.Id))">@_localizer["UPbit.AuthKey"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToFollowers(context.Id))">@_localizer["Follower"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToPositions(context.Id))">@_localizer["Positions"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToOrders(context.Id))">@_localizer["Orders"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToTransfers(context.Id))">@_localizer["Transfers"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToAssets(context.Id))">@_localizer["Assets"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1" OnClick="@(() => NavigateToTradingTerms(context.Id))">@_localizer["TradingTerms"]</MudButton>
                            <MudButton Variant="Variant.Filled" Color="MudBlazor.Color.Primary" Size="Size.Small" Class="auto-min-width ml-1 mr-1" OnClick="@(() => NavigateToMangeRoles(context.Id, context.Email))">@_localizer["Manage Roles"]</MudButton>
                        </div>
                    </td>
                </MudTr>
                <MudTr>
                    <td colspan="12" class="pa-2">
                        <MudTabs Elevation="25"
                             Color="MudBlazor.Color.Transparent"
                             Rounded="true"
                             PanelClass="mt-1">

                            <MudTabPanel Text="@_localizer["Subscriptions"]">
                                <MudSimpleTable Hover="true" Dense="true" Striped="true" Bordered="true">
                                    <thead>
                                        <tr>
                                            <th>@_localizer["Membership.Level"]</th>
                                            <th>@_localizer["Membership.CommissionRate"]</th>
                                            <th>@_localizer["Membership.DailyDeductionPoint"]</th>
                                            <th>@_localizer["Membership.MaximumAsset"]</th>
                                            <th>@_localizer["Subscription.GoBoast"]</th>
                                            <th>@_localizer["Subscription.Recommender"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">
                                                @{
                                                    var level = context.Subscription.Membership.Level;
                                                    if (level == MembershipLevel.Free)
                                                    {
                                                        <MudText Typo="Typo.body2" Class="winter"> @(level.ToDescriptionString()) </MudText>
                                                    }
                                                    else if (level == MembershipLevel.Basic)
                                                    {
                                                        <MudText Typo="Typo.body2" Class="spring"> @(level.ToDescriptionString()) </MudText>
                                                    }
                                                    else if (level == MembershipLevel.Advanced)
                                                    {
                                                        <MudText Typo="Typo.body2" Class="summer"> @(level.ToDescriptionString()) </MudText>
                                                    }
                                                }
                                            </td>
                                            <td style="text-align:right">
                                                @($"{context.Subscription.Membership.CommissionRate:N2}")
                                            </td>
                                            <td style="text-align:right">
                                                @($"{context.Subscription.Membership.DailyDeductionPoint:N0}")
                                            </td>
                                            <td style="text-align:right">
                                                @($"{context.Subscription.Membership.MaximumAsset:N0}")
                                            </td>
                                            <td style="text-align:center">
                                                @if (context.Subscription.GoBoast)
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                                                }
                                            </td>
                                            <td style="text-align:center">

                                                <div class="d-flex justify-start align-center pl-1">
                                                    <UserAvatar Image="@context.Subscription.Recommender?.ProfileImage" />
                                                    <MudText Typo="Typo.body2">@context.Subscription.Recommender?.NickName</MudText>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </MudTabPanel>

                            <MudTabPanel Text="@_localizer["TradingTerms"]">
                                <MudSimpleTable Hover="true" Dense="true" Striped="true" Bordered="true">
                                    <thead>
                                        <tr>
                                            <th>@_localizer["AskTerms.UseTakeProfit"]</th>
                                            <th>@_localizer["AskTerms.TakeProfit"]</th>
                                            <th>@_localizer["AskTerms.UseStopLoss"]</th>
                                            <th>@_localizer["AskTerms.StopLoss"]</th>
                                            <th>@_localizer["AskTerms.LiquidatePositions"]</th>
                                            <th>@_localizer["BidTerms.AmountOption"]</th>
                                            @if (context.TradingTerms.AmountOption == BidAmountOption.Fixed)
                                            {
                                                <th>@_localizer["BidTerms.Amount"]</th>
                                            }
                                            else
                                            {
                                                @if (context.TradingTerms.AmountOption == BidAmountOption.Manual)
                                                {
                                                    <th>@_localizer["BidTerms.AmountRate"]</th>
                                                }
                                                <th>@_localizer["BidTerms.Minimum"]</th>
                                                <th>@_localizer["BidTerms.Maximum"]</th>
                                            }
                                            <th>@_localizer["Trading.AutoTrading"]</th>
                                            <th>@_localizer["TimeFrames"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align:center">
                                                @if (context.TradingTerms.UseTakeProfit)
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                                                }
                                            </td>
                                            <td style="text-align:right">
                                                @if (context.TradingTerms.UseTakeProfit)
                                                {
                                                    @($"{context.TradingTerms.TakeProfit:N2}")
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @if (context.TradingTerms.UseStopLoss)
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                                                }
                                            </td>
                                            <td style="text-align:right">
                                                @if (context.TradingTerms.UseStopLoss)
                                                {
                                                    @($"{context.TradingTerms.StopLoss:N2}")
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @if (context.TradingTerms.LiquidatePositions)
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @($"{context.TradingTerms.AmountOption.ToDescriptionString()}")
                                            </td>

                                            @if (context.TradingTerms.AmountOption == BidAmountOption.Fixed)
                                            {
                                                <td style="text-align:right">
                                                    @($"{context.TradingTerms.Amount:N0}")
                                                </td>
                                            }
                                            else
                                            {
                                                @if (context.TradingTerms.AmountOption == BidAmountOption.Manual)
                                                {
                                                    <td style="text-align:right">
                                                        @($"{context.TradingTerms.AmountRate:N2}")
                                                    </td>
                                                }
                                                <td style="text-align:right">
                                                    @($"{context.TradingTerms.Minimum:N0}")
                                                </td>
                                                <td style="text-align:right">
                                                    @($"{context.TradingTerms.Maximum:N0}")
                                                </td>
                                            }
                                            <td style="text-align:center">
                                                @if (context.TradingTerms.AutoTrading)
                                                {
                                                    <MudIcon Icon="@Icons.Filled.Check" Size="Size.Small" />
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @($"{context.TradingTerms.TimeFrame.ToDescriptionString()}")
                                            </td>
                                        </tr>
                                    </tbody>
                                </MudSimpleTable>
                            </MudTabPanel>

                            @if (context.UPbitKey is not null)
                            {
                                <MudTabPanel Text="@_localizer["UPbit.AuthKey"]">
                                    <MudSimpleTable Hover="true" Dense="true" Striped="true" Bordered="true">
                                        <thead>
                                            <tr>
                                                <th>@_localizer["UPbitKey.expire_at"]</th>
                                                <th>@_localizer["UPbitKey.FatalError"]</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td style="text-align:center">
                                                    @($"{context.UPbitKey.expire_at:g}")
                                                </td>
                                                <td style="text-align:center">
                                                    @($"{context.UPbitKey.FatalError}")
                                                </td>
                                            </tr>
                                        </tbody>
                                    </MudSimpleTable>
                                </MudTabPanel>
                            }
                        </MudTabs>
                    </td>
                </MudTr>
            }
        </ChildRowContent>
        <PagerContent>
            <TablePager />
        </PagerContent>
    </MudTable>
</div>
