@using MudBlazor;

<EditForm Model="@_model">
    <FluentValidationValidator @ref="_fluentValidationValidator" />
    <MudDialog>
        <TitleContent>
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Outlined.ThumbUpAlt" Class="mb-n1" />
                    @($"{_localizer["Subscription.Recommender"]} {_localizer["Change"]}")
                </MudText>
        </TitleContent>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12" sm="6">
                    <MudTextField Label="@_localizer["Subscription.UserCode"]"
                                  Variant="Variant.Outlined"
                                  For="@(() => _model.UserCode)"
                                  @bind-Value="_model.UserCode"
                                  Margin="Margin.Dense" />
                </MudItem>
                <MudItem xs="12" sm="6" Class="d-flex justify-end">
                    <MudButton OnClick="GetRecommenderAsync"
                               Variant="Variant.Filled"
                               StartIcon="@Icons.Material.Filled.Search" IconColor="MudBlazor.Color.Surface"
                               Color="MudBlazor.Color.Primary"
                               Disabled="@(!Validated)"
                               Size="Size.Small"
                               Class="ma-2">
                        @_localizer["Search"]
                    </MudButton>
                </MudItem>
            </MudGrid>
        </DialogContent>
    </MudDialog>
</EditForm>

<MudPaper Elevation="25" Class="pl-6 pr-6 pt-6 pb-2">
    <MudGrid>
        <MudItem xs="12">
            <MudField Label="@_localizer["User.NickName"]"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense">
                <div class="d-flex justify-start align-center">
                    <UserAvatar Image="@_recommender.ProfileImage"/>
                    <MudText>@_recommender.NickName</MudText>
                </div>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Label="@_localizer["User.Email"]"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense">
                <MudText>@_recommender.Email</MudText>
            </MudField>
        </MudItem>
        <MudItem xs="12">
            <MudField Label="@_localizer["User.PhoneNumber"]"
                      Variant="Variant.Outlined"
                      Margin="Margin.Dense">
                <MudText>@_recommender.PhoneNumber</MudText>
            </MudField>
        </MudItem>
        <MudItem xs="12" Class="d-flex justify-end">
            <MudButton Variant="Variant.Filled"
                       Size="Size.Small"
                       OnClick="Cancel">
                @_localizer["Cancel"]
            </MudButton>

            <MudButton Variant="Variant.Filled"
                       Size="Size.Small"
                       Disabled="@(_recommender is null)"
                       Color="MudBlazor.Color.Secondary"
                       Class="ml-2"
                       OnClick="UpdateRecommenderAsync">
                @_localizer["Change"]
            </MudButton>
        </MudItem>
    </MudGrid>
</MudPaper>