@page "/personal/upbitkey"
@page "/personal/upbitkey/{userId}"
@attribute [Authorize(Policy = Permissions.UPbitKeys.View)]
@using System.Linq

@if (PageMode == PageModes.None)
{
    <PageMenuTitle Menus="@(new [] 
{
    $"{_localizer["Personal"]}",
    $"{_localizer["UPbit.AuthKey"]}",
})" UserId="@UserId" />
}

@if (!_loaded)
{
    <MudProgressCircular Color="MudBlazor.Color.Primary" Indeterminate="true" />
}
else
{
    <EditForm Model="@_testModel">
        <FluentValidationValidator @ref="_fluentValidationValidator" />
        <MudCard Elevation="25">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudLink Href="https://upbit.com/mypage/open_api_management" Target="_blank">@($"{_localizer["UPbit.Open API"]} {_localizer["Manage"]} {_localizer["Shortcut"]}")</MudLink>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <MudGrid>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.IsAuthenticated"]"
                                 @bind-Checked="@_testModel.IsAuthenticated"
                                 Dense="true" Disabled="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.AllowedPositions"]"
                                 @bind-Checked="@_testModel.IsAllowedPositions"
                                 Dense="true" Disabled="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.AllowedOrders"]"
                                 @bind-Checked="@_testModel.IsAllowedOrders"
                                 Dense="true" Disabled="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.AllowedOrder"]"
                                 @bind-Checked="@_testModel.IsAllowedOrder"
                                 Dense="true" Disabled="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.AllowedWithdraws"]"
                                 @bind-Checked="@_testModel.IsAllowedWithdraws"
                                 Dense="true" Disabled="true" />
                    </MudItem>
                    <MudItem xs="12" sm="4" Class="d-flex align-content-center">
                        <MudCheckBox Label="@_localizer["UPbitKey.AllowedDeposits"]"
                                 @bind-Checked="@_testModel.IsAllowedDeposits"
                                 Dense="true" Disabled="true" />
                    </MudItem>

                    @if (_testModel.Messages.Any())
                    {
                        <MudItem xs="12">
                            <MudAlert Style="justify-content:left" Severity="Severity.Error" Dense=true>
                                @_localizer["UPbitKey.TestMessages"]
                                <ul>
                                    @{
                                        foreach (var message in _testModel.Messages)
                                        {
                                            <li>- @message </li>
                                        }
                                    }
                                </ul>
                            </MudAlert>
                        </MudItem>
                    }

                    <MudItem xs="12" sm="12" md="4">
                        <MudTextField T="string"
                                  Label="@_localizer["UPbitKey.access_key"]"
                                  @bind-Value="_model.access_key"
                                  For="@(() => _model.access_key)"
                                  Margin="Margin.Dense" Variant="Variant.Outlined"
                                  InputType="_access_keyInput"
                                  Adornment="Adornment.End" AdornmentIcon="@_access_keyInputIcon" OnAdornmentClick="@(() => ToggleAccessKeyVisibility())"
                                  TextChanged="@(() => DisableUPbitKeySaveButton())" />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="4">
                        <MudTextField T="string"
                                  @bind-Value="_model.secret_key" For="@(() => _model.secret_key)"
                                  Label="@_localizer["UPbitKey.secret_key"]"
                                  Margin="Margin.Dense" Variant="Variant.Outlined"
                                  InputType="_secret_keyInput"
                                  Adornment="Adornment.End" AdornmentIcon="@_secret_keyInputIcon" OnAdornmentClick="@(() => ToggleSecretKeyVisibility())"
                                  TextChanged="@(() => DisableUPbitKeySaveButton())" />
                    </MudItem>
                    <MudItem xs="12" sm="12" md="4">
                        <MudTextField T="DateTime?"
                                  @bind-Value="@_model.expire_at"
                                  Format="g"
                                  Label="@_localizer["UPbitKey.expire_at"]"
                                  Margin="Margin.Dense" Variant="Variant.Outlined" ReadOnly="true" />
                    </MudItem>
                </MudGrid>
            </MudCardContent>
            <MudCardActions Class="pb-4 pl-4">
                <MudGrid>
                    <MudItem xs="12" sm="12" md="6">
                        <MudAlert Style="justify-content:left" Severity="Severity.Warning" Dense=true>
                            @_localizer["UPbit.Open API Key Caution"]
                            <ul>
                                <li>- @_localizer["UPbitKey.AllowedPositions"] </li>
                                <li>- @_localizer["UPbitKey.AllowedOrder"] </li>
                                <li>- @_localizer["UPbitKey.AllowedOrders"] </li>
                                <li>- @_localizer["UPbitKey.AllowedDeposits"] </li>
                                <li>- @_localizer["UPbitKey.AllowedWithdraws"] </li>
                                <li>- @_localizer["UPbitkey.AllowedIPs"] '@_allowedIPs' @_localizer["Input"] </li>
                            </ul>
                        </MudAlert>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudButton Variant="Variant.Filled"
                               Disabled="@(!Validated)" Color="MudBlazor.Color.Primary"
                               Class="ml-auto"
                               OnClick="TestUPbitKeyAsync">
                            @($"{_localizer["UPbit.Open API Key"]} {@_localizer["Test"]}")
                        </MudButton>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudAlert Style="justify-content:left" Severity="Severity.Info" Dense=true> @_localizer["UPbitKey.Authentication keys are encrypted and stored."]</MudAlert>
                    </MudItem>
                    <MudItem xs="12" sm="12" md="6">
                        <MudButton Variant="Variant.Filled"
                               Disabled="@(!Validated || !_testModel.IsPassed)"
                               Color="MudBlazor.Color.Primary"
                               Class="ml-auto"
                               OnClick="UpdateUPbitKeyAsync">
                            @($"{_localizer["UPbit.Open API Key"]} {@_localizer["Save"]}")
                        </MudButton>
                    </MudItem>

                    @if (_model.IsOccurredFatalError)
                    {
                        <MudItem xs="12">
                            <MudAlert Style="justify-content:left" Severity="Severity.Error" Dense=true> @(string.Format(_localizer["{0} UPbit error occurred."], _model.FatalError))</MudAlert>
                        </MudItem>
                    }
                </MudGrid>
            </MudCardActions>
        </MudCard>
    </EditForm>
}